@model ProjectCourse.Models.ViewModels.SellerFormViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<h4>Seller</h4>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Seller.Id" />
            <div class="form-group">
                <label asp-for="Seller.Name" class="control-label">Name</label>
                <input asp-for="Seller.Name" type="text" class="form-control" placeholder="Name" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.Email" class="control-label">Email</label>
                <input asp-for="Seller.Email" type="email" class="form-control" placeholder="Email" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.BirthDate" class="control-label">Birth Date</label>
                <input asp-for="Seller.BirthDate" type="date" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.BaseSalary" class="control-label">Base Salary</label>
                <input asp-for="Seller.BaseSalary" type="number" class="form-control" placeholder="Salary" />
            </div>
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label">Department</label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>